@using CursusAdministratie2021.Shared.DTO
@inject NavigationManager NavigationManager

@if (Courses is not null) {
    <table>
        <thead>
            <tr>
                <th>Start</th>
                <th>Duur</th>
                <th>Titel</th>
                <th>Cursisten</th>
                <th>Inschrijven</th>
                <th>Presentielijst</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Courses) {
                <tr>
                    <td>@course.StartDate.ToString("d/MM/yyyy")</td>
                    <td>@course.Duration</td>
                    <td>@course.Title</td>
                    <td>@course.EnrollmentsCount</td>
                    <td @onclick="@(()=>{if(course.EnrollmentsCount<12)NavigationManager.NavigateTo($"/enroll-to-edition/{course.EditionId}");})">@if (course.EnrollmentsCount < 12) {<text>➕</text>}</td>
                    <td @onclick="@(()=>{if(course.EnrollmentsCount<12)NavigationManager.NavigateTo($"/students-list/{course.EditionId}");})">@if (course.EnrollmentsCount > 0) {<text>📄</text>}</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public IEnumerable<CourseOverview> Courses { get; set; }
}
